#wheel{
    
    position: absolute;
    width: 70%;
    height: auto;
    
    filter: blur(70px);
    position: fixed;
    
}

@media all and (max-width: 600px){
   
    .mainContent{
        flex-direction: column;
        align-items: center;
        margin-top: 30%;
        width: 100%;
    }

